<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- https://www.designsystem.tech.gov.sg/docs/installation/ -->
        <link href="{{ url_for('static', filename = 'styles/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename = 'styles/sgds.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename = 'styles/styles.css') }}" rel="stylesheet">

        <!-- Include jQuery -->
        <script src="{{ url_for('static', filename = 'appscripts/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'appscripts/sgds.js') }}"></script>
        <script src="{{ url_for('static', filename = 'appscripts/bootstrap.bundle.min.js') }}"></script>

        {% block javascript %}{% endblock %}

        <title>Top2VecApp: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="flex-wrapper">
            <div>
                <div class="sgds-masthead">
                    <a>
                        <span class="sgds-icon sgds-icon-sg-crest"></span>
                        <span class="is-text">A Singapore Government Agency Application</span>
                    </a>
                </div>

                <nav class="sgds-navbar" role="navigation">
                    <div class="sgds-navbar-brand">
                        <a class="sgds-navbar-item is-active is-uppercase">
                            Top2Vec
                        </a>
                    </div>
                </nav>
                
                {% block flash %}{% endblock %}

                <section class="sgds-section">
                    <div class="container p-5">
                        {% block section %}{% endblock %}
                    </div>
                </section>
            </div>
            
            <footer class='sgds-footer'>
                <div class="top-section">
                    <div class="sgds-container is-fluid">
                        <div class="row">
                            <div class="col">
                                <img class="ica-logo" src="{{ url_for('static', filename = 'images/ica-logo.png') }}" alt="Immigration & Checkpoints Authority Logo">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bottom-section">
                    <div class="sgds-container is-fluid">
                        <div class="row is-multiline">
                            <div class="col is-12 has-text-right-desktop has-text-right-tablet has-text-left-mobile">
                                <p> © Information Management Division | Data Management & Analytics Branch</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>